@font-face {
  font-family: NotoFont;
  src: url(../font-web/NotoSansThai-VariableFont_wdth\,wght.ttf);

}

body {

  font-family: NotoFont;
  font-weight: 550;
}

table {
  border-collapse: collapse;
  width: 100%;
}

table td, table th {
  border: 1px solid #ddd;
  padding: 8px;
}

table tr:nth-child(even){background-color: #f2f2f2;}

table tr:hover {background-color: #ddd;}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #79a0ce;
  color: white;
}

div {
    margin-top: 10px;
}
#txtQueueName, #start{
  height: 1.5rem;
  margin: 3px 5px;
}
button {
  height: 2rem;
}